@{
    ViewData["Title"] = "Lam - Portfolio";
}

<!-- intro section
================================================== -->
<section id="intro">

    <div class="intro-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">

                <h5>Hello, World.</h5>
                <h1>I'm Lam.</h1>

                <p class="intro-position">
                    <span>Game Developer</span>
                    <span>UI/UX Designer</span>
                </p>

                <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

            </div>

        </div>
    </div> <!-- /intro-content -->

    <ul class="intro-social">
        <li><a href="https://www.facebook.com/lamnt20.07" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://github.com/nguyenthanhlam20" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        @*<li><a href="#"><i class="fa fa-dribbble"></i></a></li>*@
        <li><a href="https://www.instagram.com/lamnt20.07" target="_blank"><i class="fa fa-instagram"></i></a></li>
    </ul> <!-- /intro-social -->

</section> <!-- /intro -->
<!-- about section
================================================== -->
<section id="about">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>About</h5>
            <h1>Let me introduce myself.</h1>

            <div class="intro-info">

                <img src="images/profile-pic.jpg" alt="Profile Picture">

                <p class="lead">
                    When I first discovered game development, I immediately fell in love with it. As a beginner in this field, I always have a strong passion for improving my knowledge and skills. During my time in university, I acquired a solid foundation, and I'm excited to use these skills to become a skilled game developer.

                </p>
            </div>

        </div>
    </div> <!-- /section-intro -->

    <div class="row about-content">

        <div class="col-six tab-full">

            <h3>Profile</h3>
            <ul class="info-list">
                <li>
                    <strong>Fullname:</strong>
                    <span>Nguyen Thanh Lam</span>
                </li>
                <li>
                    <strong>Birth Date:</strong>
                    <span>July 20, 2001</span>
                </li>
                <li>
                    <strong>Job:</strong>
                    <span>Game Developer</span>
                </li>
                <li>
                    <strong>Website:</strong>
                    <span>www.lamnt.azurewebsites.net</span>
                </li>
                <li>
                    <strong>Email:</strong>
                    <span>nguyenthanhlam1070@gmail.com</span>
                </li>

            </ul> <!-- /info-list -->

        </div>

        <div class="col-six tab-full">

            <h3>Skills</h3>

            <ul class="skill-bars">
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>C#</strong>
                </li>
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>Unity</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>GDScript</strong>
                </li>
                <li>
                    <div class="progress percent95"><span>95%</span></div>
                    <strong>Godot</strong>
                </li>
                <li>

                    <div class="progress percent75"><span>75%</span></div>
                    <strong>Figma</strong>
                </li>

            </ul> <!-- /skill-bars -->

        </div>

    </div>

    <div class="row button-section">
        <div class="col-twelve">
            <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
            <a href="https://www.topcv.vn/xem-cv/A1IEUgJSVgEFVAAAVldTBgFTBgQHAwIFAlVSAA2508" target="_blank" title="Download CV" class="button button-primary">Download CV</a>
        </div>
    </div>

</section> <!-- /process-->
<!-- resume Section
================================================== -->
<section id="resume" class="grey-section">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Resume</h5>
            <h1>More of my credentials.</h1>

            <p class="lead">"Here is my work experiences and education journey."</p>

        </div>
    </div> <!-- /section-intro-->

    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2>Work Experience</h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>.NET Developer</h3>
                        <p>January 2024 - Present</p>
                    </div>

                    <div class="timeline-content">
                        <h4>CMC Global</h4>
                        <p>Joining a developer team at CMC Global company.</p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Front-end Developer</h3>
                        <p>July 2022 - June 2023</p>
                    </div>

                    <div class="timeline-content">
                        <h4>FPT Software</h4>
                        <p>Joining a team using ReactJS to maintain a bank application for Indian users.</p>
                    </div>

                </div> <!-- /timeline-block -->


            </div> <!-- /timeline-wrap -->

        </div> <!-- /col-twelve -->

    </div> <!-- /resume-timeline -->

    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2>Education</h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Bachelor Degree</h3>
                        <p>September 2019 - December 2023</p>
                    </div>

                    <div class="timeline-content">
                        <h4>FPT University</h4>
                        <p>Learning Software Engineering at FPT University.</p>
                    </div>

                </div> <!-- /timeline-block -->


            </div> <!-- /timeline-wrap -->

        </div> <!-- /col-twelve -->

    </div> <!-- /resume-timeline -->

</section> <!-- /features -->
<!-- Portfolio Section
================================================== -->
<section id="portfolio">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Portfolio</h5>
            <h1>Check Out Some of My Projects.</h1>

        </div>
    </div> <!-- /section-intro-->

    <div class="row portfolio-content">

        <div class="col-twelve">

            <!-- portfolio-wrapper -->
            <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="images/projects/treasure-hunter.png" alt="Treausre Hunter Game">
                        <a href="https://play.google.com/store/apps/details?id=com.lamnt.TreasureHunter" target="_blank" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">Treasure Hunter</h3>
                                    <span class="folio-types">
                                        2D Platformer Game
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> <!-- /folio-item -->

                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="images/projects/basket.png" alt="Baskets - Matching Game">
                        <a href="https://play.google.com/store/apps/details?id=org.lamnt.baskets" target="_blank" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">Baskets - Matching Game</h3>
                                    <span class="folio-types">
                                        2D Casual Game
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> <!-- /folio-item -->
                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="images/projects/inspiring-wool.png" alt="Inspiring Wool">
                        <a href="https://lamnt.itch.io/inspiring-wool" target="_blank" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">Inspiring Wool</h3>
                                    <span class="folio-types">
                                        2D Casual Game
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> <!-- /folio-item -->
                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="images/projects/aircraft-shooter.png" alt="Aircraft Shooter">
                        <a href="https://lamnt.itch.io/aircraft-shooter-game" target="_blank" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">Aircraft Shooter</h3>
                                    <span class="folio-types">
                                        2D Shooting Game
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> <!-- /folio-item -->


            </div> <!-- /portfolio-wrapper -->

        </div>  <!-- /twelve -->

    </div> <!-- /portfolio-content -->

</section> <!-- /portfolio -->
<!-- contact
================================================== -->
<section id="contact">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Contact</h5>
            <h1>I'd Love To Hear From You.</h1>
        </div>
    </div> <!-- /section-intro -->

    <div class="row contact-info">

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-pin"></i>
            </div>

            <h5>Where to find me</h5>

            <p>
                Hanoi, Vietnam
            </p>

        </div>

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-mail"></i>
            </div>

            <h5>Email Me At</h5>

            <p>
                nguyenthanhlam1070@gmail.com
            </p>

        </div>

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-phone"></i>
            </div>

            <h5>Call Me At</h5>

            <p>
                Phone: (+84) 385 981 070
            </p>

        </div>

    </div> <!-- /contact-info -->

</section> <!-- /contact -->